body {
  padding: 40px 10px 10px 10px;
  color: white;
  background-color:	#0b2c8e;
}

a {
  color: #00B7FF;
}

form {
  	font-family: 10px, 'Monserrat', sans-serif;
    margin: 10px 0px 20px 0px;
}

.title img[id=title]{
    margin: -30px -20px 30px 0px;
}

.title img[id=Gear1]{
    width: 100px;
    float: right;
    margin: -35px 230px 0px -10px;
}

.title img[id=Gear2]{
    width: 180px;
    float: right;
    margin: -25px -255px 0px 0px;
}

.title img[id=Gear3]{
    width: 120px;
    float: right;
    margin: 140px -275px 0px -50px;
}

.column.side img[id=tardis]{
    width: 200px;
    float: left;
    margin: 75px 0px 0px 0px;
}

.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 15%;
    margin: 0px 0px 0px 0px;
}

/* Middle column */
.column.middle {
    width: 70%;
    margin: -30px 0px 0px 0px;
}

/*.calendar iframe{
   float: center;
}*/
